[submodule "Kotlin-CalculateDistanceOfPoints"]
	path = Kotlin-CalculateDistanceOfPoints
	url = https://Hefezopf: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@github.com/Hefezopf/Kotlin-CalculateDistanceOfPoints
